<%- include('partials/guestheader') -%>

<main class="container">
    <div class="center-align">
        <a href="/login" class="btn"> Login</a>
        <a href="/signup" class="btn"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>